@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.flex-container {
    display: flex;
  }

  .img-us {
    padding: 5px;
    width:500px;
    height:250px;
    object-fit:contain;
  }