@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.bazaar-logo {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.color-green {
    color: #4AAC1B;
}