@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

.login-register-bg {
    background-image: url("/images/assets/bazaar.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.line1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #e09c29;
    padding: 0;
    width: 50%;
}

.logreg-container {
    height: 100vh;
}

.login-register-form-bg {
    background-color: rgba(255, 255, 255);
    height: 100%;
    width: 50%;
}